<h4>Products</h4>

<!-- 1. Interpolation (one-way) -->
<div>
  Product Name: {{ productName }}<br>
  Price: {{ productPrice }}
</div>
<hr>

<!-- 2. Property binding (one-way) -->
<div>
  Product Name:
  <!-- <input type="text" class="form-control" [value]="productName"> -->
  <input type="text" class="form-control" [(ngModel)]="productName">
</div>
<hr>

<!-- 3. Event binding (one-way) -->
<div>
  <button class="btn btn-primary" (click)="onSave()">Save</button>
</div>
<hr>

<!-- 4. Event binding (one-way) -->
<div>
  <input type="text" class="form-control" placeholder="Search..." (keyup)="onSearch($event)">
</div>
<hr>

<!-- 5. Two-way data binding -->
<!-- MVC/MVVM -->
<div>
  Hurry! There is 50% discount on {{ productName }}...
</div>